BINANCE_API_KEY=secret
BINANCE_URL=https://binance.com
DB_HOSTNAME=example.org
DB_DATABASE=example
DB_USERNAME=example
DB_PWD=example
DATABASE_PORT=6666
AIRFLOW_UID=0 #echo -e "AIRFLOW_UID=$(id -u)" 

CREDENTIALS_PATH="/opt/airflow/credentials"
RECEIVER_EMAIL=receiver@gmail.com
SENDER_EMAIL=sender@gmail.com
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
